@using Azure.Core
@model ChatSystem.Models.UserAccount;

@{
    ViewData["Title"] = "Log in Page";
}
<div id="page-center">
    <div id="login-box">
        <h3>Log-in Form</h3>
        <form class="login-form" asp-action="Index" method="post">
            <div>
                <label>Username</label>
                <span> : </span>
                <input asp-for="username"/>
            </div>
            <div>
                <label>Password</label>
                <span> : </span>
                <input asp-for="password" />
            </div>
            <div class="login-button">
                <button type="submit" id="login-button" class="btn btn-primary">Log in</button>
            </div>
        </form>
        <div class="no-account-yet">
            <p>No account yet? <a asp-controller="Home" asp-action="Signup">Click Here</a></p>
        </div>
    </div>
</div>